@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 75ms;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Animation de glissement */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.slide-in {
  animation: slideIn 0.3s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 0.3s ease-in-out forwards;
}